div.constraintelement {
    width: 800px;
}

table.sticker {
    display: inline-table;
    margin: 5px;
    width: 230px;
    table-layout: fixed;
}

table.sticker th {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.sidebyside {
    display:inline-block;
    margin: 3px;
}

.itemfont {
    font-size: small;
}

.normal_item {
    padding: 6px;
}

.warning_item {
    padding: 5px;
    border-style: solid;
    border-color: #FF0000;
    border-width: 1px;
    background-color: #FFFAFA;
}

table.clickablepath th {
    background-color: #DDD;
    padding: 5px;
}

table.clickablepath td {
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: #DDD;
}

.tagdiv p {
    font-weight: bold;
    padding: 5px;
    background-color: #DDD;
    display: inline-block;
}

table.itemlisting {
    display: inline-table;
    margin: 5px;
    table-layout: fixed;
}